body{
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}
.content{
    padding: 0 100px;
}

.hardware__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hardware__item__container{
    img{
        max-width: 400px;
        padding-bottom: 10px;        
    }
}

.hardware__item__desk{

    border-bottom: 1px solid #000;

    &::after {
        display: block;
        content: "";
        padding-bottom: 10px;
    }
    @include b-s16-h19;
}

.hardware__item__open{
    display: flex;
    justify-content: center;
    a{
        @include standart-button-medium;
    }
}

.hardware_types__open{
    a{
        @include standart-button-medium;
    }
    display: flex;
    justify-content: center;
}

.hardware_types__table{
    display: flex;
    align-items: center;
    flex-direction: column;
}